<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-media-list">

    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}

    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}

    </ul>
  </div>
</footer>

<!--Load CSS here for async behavior, starting with fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext' rel='stylesheet' type='text/css'>

<!-- Syntax highlighting -->
<link rel="stylesheet" type="text/css" href="/css/prism.css">

<!-- Lightbox for images -->
<link href="/css/lightbox.css" rel="stylesheet">
