<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-media-list">

    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}

    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}

    </ul>
  </div>
</footer>

<!--Load assets here for async behavior-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- prism js must come after content -->
<script src="/js/prism.js"></script>

<!-- lightbox assets -->
<link href="/css/lightbox.css" rel='stylesheet' type='text/css'>
<script src="/js/lightbox.js"></script>