<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load favicon -->
  <link rel="shortcut icon" type="image/png" href="/images/sharktooth.png"> 

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Fonts -->
  <link rel="stylesheet" href="http://fast.fonts.com/cssapi/d70ca5cd-778e-48cc-9e59-6b276425c670.css" type="text/css" media="screen,projection" />  

  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/duhaime.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/footer.css" media="screen,projection" />

  <!-- Syntax highlighting -->
  <script src="/js/prism.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/prism.css">

  <!-- Lightbox for images -->
  <link href="/css/lightbox.css" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
